
*{
    margin: 0;    
   
    
}

p{
    font-size: medium;
}

img{
    width: 100%;
    height: 80%;
}
.container{
    margin-top:10px;
    background-color: blanchedalmond;
    padding-bottom: 50px;
    
}

.row{
    padding-bottom: 30px;
}

.btn-tags{
    
    margin: 5px;
    background: rgb(23, 166, 171);
    border: transparent;
    border-radius: 5%;
    color: white;
    text-align: center;
}



/* ******************* multimedia ************** */
/* title */
.sheet{
    color: red;
}
.nav h5{
    margin-top: 7px;
}
.nav a{
    margin-bottom: 20px;
    color: black;
}

/* ******************* Our service ********************* */
.card{
    background-color: white;
}

