.container{
    background: linear-gradient(to bottom right, red, yellow);
    height: 100px;
    width: 500px;
    margin-top: 10%;
    margin-left: 25%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse ;
    
    
}

